html{
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.textueberschrift{
    position: absolute;
    top: 160px;
    left: 440px;
    color: white;
    font-size: 30px;
}

.text{
    position: absolute;
    top: 280px;
    left: 440px;
    line-height: 12px;
    color: white;
    font-size: 15px;
}

.busch{
    position: absolute;
    top: 60px;
    left: 300px;
}

.pinguin{
    position: absolute;
    top: 330px;
    left: 850px;
}