html{
    height: 100%;
}
body{
    height: 100%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* command-k-c */
/* oder command + / */

#square{
  
  float: left;
  text-align: center;
  border-radius: 10px;
  border: double;
}

#square:hover{
  opacity: 0.6;
}

.white{
  background-color: white;
  height: 450px;
  width: 100px;
  z-index: 1;
}

.black{
  background-color: black;
  height: 250px;
  width: 50px;
  margin:0 -30px 0 -30px;
  z-index: 2;
}
li {
  margin:0;
  padding:0;
  list-style:none;
  position:relative;
  float:left
}


.play:hover{
  opacity: 0.6;
}

.play{
  margin-left: 35%;
}
