#navibereich li{
    display: inline;/* Listenelemente nebeneinander */
    list-style-type: none;/* Aufzählungszeichen entfernen */
}

#navibereich {
    position:fixed;
    top:0px;
    right:100px;
    background-color: black;
    padding: 4px 0;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin: 0;
    padding: 5px 5px 5px 5px;
}

#navibereich a{
    color: white;
    text-decoration: none;
    padding: 4px 8px;
}

#navibereich a:hover{
    background-color: grey;
    background-position: top right;
}

#Portfolio #navi01 a,
#About #navi02 a,
#Contact #navi03 a {
    color: tomato;
}


