#navibereich li{
    display: inline;/* Listenelemente nebeneinander */
    list-style-type: none;/* Aufzählungszeichen entfernen */
}

#navibereich {
    position:fixed;
    top:0px;
    right:100px;
    background-color: black;
    padding: 4px 0;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin: 0;
    padding: 5px 5px 5px 5px;
}

#navibereich a{
    color: white;
    text-decoration: none;
    padding: 4px 8px;
}

#navibereich a:hover{
    background-color: grey;
    background-position: top right;
}

#Portfolio #navi01 a,
#About #navi02 a,
#Contact #navi03 a {
    color: tomato;
}

.Foto{
    position: relative;
    margin: 200px 240px 100px 240px;
}

.text{
    position: absolute;
    top: 600px;
    left: 200px;
}

.fotos{
    position: relative;
    left: 60px;
}

.Nebel{
    position: relative;
    left: 350px;
}

.ueberschrift{
    position: absolute;
    top: 0px;
    left: 240px;
    color: white;
}

.Strick{
    position: absolute;
    left: 340px;
}

.du{
    position: absolute;
    top: 2400px;
    left: 340px;
    font-size: 60px;
    color: rgb(99, 23, 23);
    font-weight: 800;
    font-family: alamy;
}

b{
    color: rgb(99, 23, 23);  
}