body {
  background: #e4a8da88;
  color: #333;
  font-family: sans-serif;
}

/*Formatierung*/
.container {
  display: block;
  width: 400px;
  margin: 100px auto 0;
}
ul {
  margin: 0;
  padding: 0;
}
li * {
  float: left;
}
h3, label[for='new-task'] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  text-decoration: underline;
  padding: 10px 0 5px;
}
li {
  overflow: hidden;
  padding-top: 20px;
  border-bottom: 1px;
}
label[for='new-task'] {
  display: block;
  margin-bottom: 15px;
}
label {
  font-size: 18px;
  line-height: 40px;
  width: 237px;
  padding: 0 0 0 11px;
}

/*Input*/
input[type="text"] {
  font-size: 18px;
  height: 18px;
  border: 2px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: sans-serif;
  color: #333;
  width: 226px;
}

/* Completed */
#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
ul li input[type=text] {
  display:none;
}

/* ul li.editMode input[type=text] {
  display:block;
}
ul li.editMode label {
  display:none;
} */

/*Button*/
.fa-sync-alt{
  float: right;
}
.fa-sync-alt:hover{
  color: #000000;
}
.fas, .far, button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  margin-top: 10px;
  font-family: sans-serif;
  cursor: pointer;
}
.fa-trash-alt:hover {
  color: #CF2323;
}
.fa-edit:hover, .fa-check-circle, button:hover {
  color: #0FC57C;
}
.hidden{
  display: none !important;
}